<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공지사항 리스트</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="layout">
    <div class="infoContent">
        <h1><a href="#"><img src="/img/ListLogo.jpg" alt="ListLogo" class="ListLogo"></a></h1>
        <div class="member">
            <p><span>홍길동님</span><button>로그아웃</button></p>
            <a href="#">마이페이지</a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">교육일정/신청</a></li>
                <li><a href="#">교육과정</a></li>
                <li><a href="#">커뮤니티</a></li>
            </ul>
        </div>
        <div class="news">
            <div class="communityTitle">
                <ul>
                    <li><a href="#">홈</a><span>></span></li>
                    <li><a href="#">커뮤니티</a><span>></span></li>
                    <li><a href="#">공지사항</a></li>
                </ul>
                <h2>NEWS<span>/</span>NOTICE</h2>
                <p>하이미디어의 새롭고 다채로운 소식을 전해드립니다.</p>
            </div>
            <div class="newsList">
                <div class="newsListSelect">
                    <p>전체 <b>1,020</b>건의 내용이 검색되었습니다.</p>
                    <select id="newsSelectBox" name="newsSelectBox">
                        <option value="newsSelectOption1">전체</option>
                    </select>
                 </div>
                <table>
                    <thead>
                    <tr>
                        <th class="no"><div>번호</div></th>
                        <th class="campus"><div>캠퍼스</div></th>
                        <th class="subject"><div>제목</div></th>
                        <th class="regDate"><div>등록일</div></th>
                        <th class="view"><div>조회</div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="no"><div>1020</div></td>
                        <td class="campus"><div>천호 캠퍼스</div></td>
                        <td class="subject"><div><a href="#">2023 이수자평가 A등급 획득 - 천호캠퍼스</a></div></td>
                        <td class="regDate"><div>2024.01.02</div></td>
                        <td class="view"><div>1,383</div></td>
                    </tr>
                    <tr>
                        <td class="no"><div>1019</div></td>
                        <td class="campus"><div>하이미디어</div></td>
                        <td class="subject"><div><a href="#">새해 복 많이 받으세요.</a></div></td>
                        <td class="regDate"><div>2023.12.29</div></td>
                        <td class="view"><div>3,523</div></td>
                    </tr>
                    <tr>
                        <td class="no"><div>1018</div></td>
                        <td class="campus"><div>하이미디어</div></td>
                        <td class="subject"><div><a href="#">하이미디어 아카데미, 한국산업인력공단 감사패 수상</a></div></td>
                        <td class="regDate"><div>2023.12.21</div></td>
                        <td class="view"><div>6,949</div></td>
                    </tr>
                    <tr>
                        <td class="no"><div>1017</div></td>
                        <td class="campus"><div>일산 캠퍼스</div></td>
                        <td class="subject"><div><a href="#">2023 이수자평가 A등급 획득 - 일산캠퍼스</a></div></td>
                        <td class="regDate"><div>2023.12.07</div></td>
                        <td class="view"><div>17,630</div></td>
                    </tr>
                    <tr>
                        <td class="no"><div>1016</div></td>
                        <td class="campus"><div>하이미디어</div></td>
                        <td class="subject"><div><a href="#">하이미디어아카데미 인재개발원 'KDT 인공지능 프로젝트 부트캠프' 1기 성공리에 수료</a></div></td>
                        <td class="regDate"><div>2023.11.15</div></td>
                        <td class="view"><div>25,919</div></td>
                    </tr>
                    <tr>
                        <td class="no"><div>1015</div></td>
                        <td class="campus"><div>하이미디어</div></td>
                        <td class="subject"><div><a href="#">풍요로운 추석되세요~</a></div></td>
                        <td class="regDate"><div>2023.09.25</div></td>
                        <td class="view"><div>40,908</div></td>
                    </tr>
                    <tr>
                        <td class="no"><div>1014</div></td>
                        <td class="campus"><div>하이미디어</div></td>
                        <td class="subject"><div><a href="#">제 27회 직업능력의 유공자 선발 장관상 수상</a></div></td>
                        <td class="regDate"><div>2023.09.13</div></td>
                        <td class="view"><div>46,164</div></td>
                    </tr>
                    <tr>
                        <td class="no"><div>1013</div></td>
                        <td class="campus"><div>영등포2 캠퍼스</div></td>
                        <td class="subject"><div><a href="#">'하이미디어 아카데미 영등포2 캠퍼스' 오픈</a></div></td>
                        <td class="regDate"><div>2023.09.06</div></td>
                        <td class="view"><div>46,753</div></td>
                    </tr>
                    <tr>
                        <td class="no"><div>1012</div></td>
                        <td class="campus"><div>하이미디어</div></td>
                        <td class="subject"><div><a href="#">카카오톡 채팅상담 서비스로 보다 빠르고 편리하게!</a></div></td>
                        <td class="regDate"><div>2023.08.11</div></td>
                        <td class="view"><div>147,566</div></td>
                    </tr>
                    <tr>
                        <td class="no"><div>1011</div></td>
                        <td class="campus"><div>하이미디어</div></td>
                        <td class="subject"><div><a href="#">현직 카XX 개발자와 함께하는 'KDT 심화과정 온라인 설명회' 에 참석해 보세요~</a></div></td>
                        <td class="RegDate"><div>2023.08.10</div></td>
                        <td class="view"><div>62,683</div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="newsListNumber">
                <a href="#"><img src="/img/first.jpg" alt="first" class="first"></a>
                <a href="#"><img src="/img/prev.jpg" alt="prev" class="prev"></a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#">9</a>
                <a href="#">10</a>
                <a href="#"><img src="/img/next.jpg" alt="next" class="next"></a>
                <a href="#"><img src="/img/last.jpg" alt="last" class="last"></a>
            </div>
            <div class="newsListSearch">
                <select id="searchSelectBox" name="searchSelectBox">
                    <option value="searchSelectOption1">제목</option>
                </select>
                <p><input type="text" id="searchTextBox" name="searchTextBox" placeholder="검색어를 입력하세요.">
                    <a href="#"><img src="/img/icon_search.jpg" alt="icon_search" class="icon_search"></a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>